@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import "@nuxt/ui";

/* 默认情况下，使用 Light 主题的颜色 */
:root {
  --text-color: #000;
  --text-color-1: #000;
  --text-color-2: #000;
  --text-color-3: #000;
  --text-color-4: #000;
  --text-color-5: #999;

  --app-bg: #f9f8fd;
  --main-bg: white;
  --hover-bg: rgba(0, 0, 0, 0.06);
}

/* 如果用户启用 Dark 主题，则覆盖这些变量 */
html.dark {
  --text-color: #fff;
  --text-color-1: #000;
  --text-color-2: #000;
  --text-color-3: #000;
  --text-color-4: #000;
  --text-color-5: #dedede;

  /* --app-bg: #101014;
  --main-bg: rgba(225, 235, 255, 0.07); */
  --hover-bg: rgba(255, 255, 255, 0.07);

  --app-bg: radial-gradient(circle at right center, #4b296980, #526c7f 25%, #a49e99 50%, #658292);
  --main-bg: rgba(255, 255, 255, 0.15);
}

.app-ui {
  background: var(--app-bg);
  color: var(--text-color);
  /* transition: background-color 0.5s ease-in-out; */
  transition: background-color 0.5s, color 0.5;
}
.app-ui .app-main {
  background: var(--main-bg);
  backdrop-filter: blur(64px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

*, :after, :before {
  box-sizing: border-box;
}

/* 设置滚动条的宽度和背景颜色 */
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 6px;
}
/* 定义滚动条上的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 5px;
}
/* 当鼠标悬停在滑块上时，改变其颜色 */
::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}
html.dark ::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 6px;
}
html.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
}